{% extends 'style/starter.html.twig' %}

 {% block header %}
GROOIN GROIN GROIN {{ app.user.roles[0] }}
     {% if is_granted('ROLE_SUPER_ADMIN') %}
         <a href="{{ path('app_logout') }}">tu es SUP admin</a>
     {% endif %}
     {% if is_granted('ROLE_ADMIN') %}
         <a href="...">tu es admin</a>
     {% endif %}
     {% if is_granted('ROLE_USER') %}
         <a href="...">tu es user</a>
     {% endif %}
 {% endblock %}

 {% block content %}
     <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-aqua">
             <div class="inner">
                 <h3>150</h3>

                 <p>New Orders</p>
             </div>
             <div class="icon">
                 <i class="ion ion-bag"></i>
             </div>
             <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
         </div>
     </div>
     ceci est un groingroingroingroingrn
 {% endblock %}
