{% if reservations is empty %}
    <div class="callout callout-info">
        <h4>Pas de réservations !</h4>
        <p>Vous pouvez dés maintenant réserver un livre en cliquant sur le bouton "Réserver un Livre". <br>
            Nous vous le réseverons et vous pourrez alors venir le chercher dans les
        deux prochains jours.</p>
    </div>
{% endif %}
{% for reservation in reservations %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <img class="info-box-icon img-responsive" src="{{ reservation.book.image }}">
            <div class="info-box-content">
                <span class="info-box-number">{{ reservation.book.label }}</span>
                <span class="info-box-text">à retirer avant le {{ reservation.reserveDate|date_modify("+2 day")|date("d/m/Y") }}</span>
            </div>
        </div>
    </div>
{% endfor %}