{% if borrowing is empty %}
    <div class="callout callout-info">
        <h4>Pas d'emprunts !</h4>
        <p>Rendez vous à notre bibliothèque pour emprunter des livres ! </p>
    </div>
{% endif %}
{% for borrow in borrowing %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <img class="info-box-icon img-responsive" src="{{ borrow.book.image }}">
            <div class="info-box-content">
                <span class="info-box-number">{{ borrow.book.label }}</span>
                <span class="info-box-text">à retirer avant le {{ borrow.reserveDate|date_modify("+2 day")|date("d/m/Y") }}</span>
            </div>
        </div>
    </div>

{% endfor %}