<div class="callout callout-danger">
    <h4>Attention!</h4>
    <p>Vous avez dépassé le nombre maximum de livres à réserver. <br>Veuillez restituer vos livres à notre établissement pour en réserver de nouveaux. </p>
</div>