{% extends 'style/starter.html.twig' %}
{% block header %}Ajouter un abonnement  {% endblock %}

{% block content %}
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> AdminLTE, Inc.
                    <small class="pull-right">Date: 2/10/2014</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                {{ form(form) }}
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <img class="img-responsive" id="image">

            </div>
            <!-- /.col -->

            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <p id="description"></p>

            <!-- /.col -->
        </div>
        <!-- this row will not appear when printing -->

    </section>
{% endblock %}